# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

# **ECLAT**

In [17]:
from pyECLAT import Example2
dados_example02 = Example2().get()
dados_example02

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [18]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados_example02, verbose=True)

100%|████████████████████████████████████████| 119/119 [00:00<00:00, 771.10it/s]
100%|██████████████████████████████████████| 119/119 [00:00<00:00, 19037.39it/s]
100%|███████████████████████████████████████| 119/119 [00:00<00:00, 5698.78it/s]

In [19]:
eclat.df_bin

,mint green tea,ham,whole wheat rice,shampoo,cottage cheese,ketchup,low fat yogurt,parmesan cheese,light cream,blueberries,...,muffins,fresh tuna,almonds,herb & pepper,shrimp,barbecue sauce,antioxydant juice,eggs,magazines,yogurt cake
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2998,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
eclat.uniq_

['mint green tea',
 'ham',
 'whole wheat rice',
 'shampoo',
 'cottage cheese',
 'ketchup',
 'low fat yogurt',
 'parmesan cheese',
 'light cream',
 'blueberries',
 'pasta',
 'light mayo',
 'melons',
 'whole wheat pasta',
 'spinach',
 'strawberries',
 'salt',
 'babies food',
 'meatballs',
 'brownies',
 'frozen vegetables',
 'green grapes',
 'eggplant',
 'cereals',
 'shallot',
 'grated cheese',
 'pickles',
 'cider',
 'bramble',
 'candy bars',
 'butter',
 'hand protein bar',
 'turkey',
 'pepper',
 'spaghetti',
 'green beans',
 'black tea',
 'chocolate',
 'flax seed',
 'olive oil',
 'mineral water',
 'chili',
 'body spray',
 'whole weat flour',
 'burger sauce',
 'mashed potato',
 'water spray',
 'chocolate bread',
 'oatmeal',
 'tomato sauce',
 'cream',
 'cookies',
 'clothes accessories',
 'milk',
 'dessert wine',
 'napkins',
 'energy drink',
 'protein bar',
 'vegetables mix',
 'cauliflower',
 'mushroom cream sauce',
 'carrots',
 'rice',
 'ground beef',
 'oil',
 'pet food',
 'white wine',
 'pancakes',
 'gums',
 'french fries',
 'tomatoes',
 'tomato juice',
 'fresh bread',
 nan,
 'sparkling water',
 'soup',
 'mint',
 'gluten free bar',
 'tea',
 'salmon',
 'bacon',
 'zucchini',
 'mayonnaise',
 'champagne',
 'sandwich',
 'soda',
 'green tea',
 'chutney',
 'red wine',
 'cooking oil',
 'bug spray',
 'nonfat milk',
 'burgers',
 'french wine',
 'avocado',
 'extra dark chocolate',
 'toothpaste',
 'energy bar',
 'chicken',
 'corn',
 'salad',
 'asparagus',
 'frozen smoothie',
 'cake',
 'escalope',
 'hot dogs',
 'strong cheese',
 'fromage blanc',
 'yams',
 'honey',
 'muffins',
 'fresh tuna',
 'almonds',
 'herb & pepper',
 'shrimp',
 'barbecue sauce',
 'antioxydant juice',
 'eggs',
 'magazines',
 'yogurt cake']

In [5]:
indices, suporte = eclat.fit(min_support=0.05, min_combination=2, max_combination=5)

Combination 2 by 2

253it [00:00, 314.49it/s]

Combination 3 by 3

1771it [00:05, 312.98it/s]

Combination 4 by 4

8855it [00:31, 281.64it/s]

Combination 5 by 5

33649it [02:02, 275.65it/s]

In [6]:
indices

{'spaghetti & mineral water': [18,
  22,
  26,
  29,
  41,
  56,
  78,
  91,
  105,
  109,
  125,
  134,
  140,
  141,
  143,
  157,
  202,
  227,
  258,
  261,
  268,
  294,
  299,
  307,
  318,
  374,
  412,
  422,
  453,
  456,
  461,
  483,
  503,
  528,
  550,
  553,
  574,
  582,
  600,
  615,
  616,
  655,
  661,
  675,
  679,
  688,
  717,
  729,
  767,
  770,
  784,
  795,
  800,
  808,
  871,
  878,
  881,
  919,
  1008,
  1024,
  1041,
  1058,
  1064,
  1067,
  1070,
  1079,
  1083,
  1084,
  1118,
  1213,
  1218,
  1223,
  1248,
  1279,
  1281,
  1289,
  1326,
  1330,
  1345,
  1360,
  1367,
  1384,
  1388,
  1400,
  1414,
  1420,
  1425,
  1474,
  1534,
  1539,
  1547,
  1588,
  1604,
  1605,
  1609,
  1612,
  1613,
  1631,
  1639,
  1656,
  1681,
  1695,
  1743,
  1750,
  1773,
  1790,
  1792,
  1804,
  1806,
  1815,
  1818,
  1848,
  1892,
  1902,
  1934,
  1978,
  1986,
  1992,
  2009,
  2022,
  2038,
  2046,
  2061,
  2064,
  2104,
  2113,
  2123,
  2144,
  2152,
  2172,
  2181,
  2197,
  2206,
  2246,
  2248,
  2255,
  2287,
  2289,
  2298,
  2308,
  2353,
  2356,
  2358,
  2395,
  2400,
  2403,
  2412,
  2429,
  2542,
  2551,
  2589,
  2592,
  2593,
  2601,
  2613,
  2617,
  2625,
  2632,
  2637,
  2643,
  2645,
  2667,
  2673,
  2676,
  2700,
  2711,
  2767,
  2773,
  2776,
  2782,
  2791,
  2805,
  2817,
  2819,
  2831,
  2851,
  2853,
  2869,
  2871,
  2888,
  2919,
  2930]}

In [7]:
suporte

{'spaghetti & mineral water': 0.06064645118293902}

# **APRIORI**

In [8]:
from pyECLAT import Example2
dados_example02 = Example2().get()
dados_example02

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [20]:
dados_example02.shape

(3001, 7)

In [21]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados_example02)
dados_example02_bin = eclat.df_bin
dados_example02_bin

,mint green tea,ham,whole wheat rice,shampoo,cottage cheese,ketchup,low fat yogurt,parmesan cheese,light cream,blueberries,...,muffins,fresh tuna,almonds,herb & pepper,shrimp,barbecue sauce,antioxydant juice,eggs,magazines,yogurt cake
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2998,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
from mlxtend.frequent_patterns import apriori, association_rules

In [22]:
# Gerando a associação
associacao_apriori = apriori(dados_example02_bin, min_support=0.03, use_colnames=True)

/home/mrzebodexxsz/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [23]:
# Colocando em ordem dos mais frequentes
associacao_apriori.sort_values("support", ascending=False).head(15)

     support             itemsets
9   0.236921      (mineral water)
6   0.182939          (spaghetti)
31  0.177274               (eggs)
7   0.161613          (chocolate)
14  0.154282       (french fries)
11  0.126958               (milk)
20  0.113296          (green tea)
12  0.093635        (ground beef)
3   0.091969  (frozen vegetables)
22  0.085638            (burgers)
13  0.078640           (pancakes)
30  0.077308             (shrimp)
26  0.076974               (cake)
10  0.076974            (cookies)
27  0.070643           (escalope)

In [27]:
# Criando as regras de associação
regras = association_rules(associacao_apriori, metric="lift")

In [28]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("lift", ascending=False)

In [29]:
resultado.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
11,(spaghetti),(ground beef),0.182939,0.093635,0.035988,0.196721,2.100928,0.018858,1.128331,0.641347
10,(ground beef),(spaghetti),0.093635,0.182939,0.035988,0.384342,2.100928,0.018858,1.327134,0.578156
1,(spaghetti),(frozen vegetables),0.182939,0.091969,0.030990,0.169399,1.841906,0.014165,1.093221,0.559425
0,(frozen vegetables),(spaghetti),0.091969,0.182939,0.030990,0.336957,1.841906,0.014165,1.232289,0.503380
2,(frozen vegetables),(mineral water),0.091969,0.236921,0.036988,0.402174,1.697502,0.015198,1.276423,0.452517
3,(mineral water),(frozen vegetables),0.236921,0.091969,0.036988,0.156118,1.697502,0.015198,1.076016,0.538475
18,(mineral water),(ground beef),0.236921,0.093635,0.036988,0.156118,1.667297,0.014803,1.074042,0.524490
19,(ground beef),(mineral water),0.093635,0.236921,0.036988,0.395018,1.667297,0.014803,1.261325,0.441574
9,(spaghetti),(milk),0.182939,0.126958,0.038654,0.211293,1.664281,0.015428,1.106929,0.488507
8,(milk),(spaghetti),0.126958,0.182939,0.038654,0.304462,1.664281,0.015428,1.174718,0.457183
17,(milk),(mineral water),0.126958,0.236921,0.048317,0.380577,1.606347,0.018238,1.231920,0.432361
16,(mineral water),(milk),0.236921,0.126958,0.048317,0.203938,1.606347,0.018238,1.096702,0.494666
6,(mineral water),(spaghetti),0.236921,0.182939,0.060646,0.255977,1.399250,0.017304,1.098167,0.373921
7,(spaghetti),(mineral water),0.182939,0.236921,0.060646,0.331512,1.399250,0.017304,1.141500,0.349217
5,(spaghetti),(chocolate),0.182939,0.161613,0.037321,0.204007,1.262321,0.007756,1.053260,0.254337
4,(chocolate),(spaghetti),0.161613,0.182939,0.037321,0.230928,1.262321,0.007756,1.062398,0.247867
22,(french fries),(eggs),0.154282,0.177274,0.034322,0.222462,1.254904,0.006972,1.058117,0.240182
23,(eggs),(french fries),0.177274,0.154282,0.034322,0.193609,1.254904,0.006972,1.048769,0.246895
15,(chocolate),(mineral water),0.161613,0.236921,0.047651,0.294845,1.244488,0.009361,1.082144,0.234327
14,(mineral water),(chocolate),0.236921,0.161613,0.047651,0.201125,1.244488,0.009361,1.049460,0.257453
20,(mineral water),(eggs),0.236921,0.177274,0.047984,0.202532,1.142476,0.005984,1.031672,0.163428
21,(eggs),(mineral water),0.177274,0.236921,0.047984,0.270677,1.142476,0.005984,1.046284,0.151580
13,(spaghetti),(eggs),0.182939,0.177274,0.032656,0.178506,1.006950,0.000225,1.001500,0.008448
12,(eggs),(spaghetti),0.177274,0.182939,0.032656,0.184211,1.006950,0.000225,1.001559,0.008390